<div class="top-container">
	<div class = "uphead">
		<h1>SUBSCRIBER</h1>
		<h2>{{username}}</h2>
	</div>
	<div class="buttonPanel">
		<a href="#/login"><button type = "button" class = "btn btn-info">Logout</button></a><br>
		<a href="#/producer"><button type = "button" class = "btn btn-info">Producer Panel</button></a><br>
		<a href="#/"><button type = "button" class = "btn btn-info">User Panel</button></a><br>
	</div>
</div>
<div class = "row ng-scope" ng-init="getProducers()">
	<div class = "col-xs-12 col-sm-12">

		<label>Search: <input ng-model="searchText"></label>
		<label id="subscriptions-container" ng-repeat="producer in producers | filter:searchText">

			<h2> {{producer.name}}: </h2>


			<div ng-init="getSubscribedTopics(producer)"> 

				<label ng-repeat="topic in producer.subscribedTopics">
					<button ng-click="unsubscribe(producer, topic, $index)" class="btn btn-success">Subscribed</button> {{topic.name}}
				</label>

			</div>
			<br>

			<div ng-init="getNotSubscribedTopics(producer)"> 

				<label ng-repeat="topic in producer.notSubscribedTopics">
					<button ng-click="subscribe(producer, topic, $index)" class="btn btn-danger">   Not Subscribed </button> {{topic.name}}
				</label>

			</div>

			<br>


		</label>
	</div>


</div>
</div>
