<h1>Subscriber view</h1>
<p>You're logged in as {{username}}!!</p>
<p><a href="#/login">Logout</a></a></p>

<div class = "btn-group" role = "group">
	<a href="#/producer"><button type = "button" class = "btn btn-info">Producer View</button></a>
	<a href="#/"><button type = "button" class = "btn btn-info">Client View</button></a>
</div>

<div class = "row ng-scope" ng-init="getProducers()">
	<div class = "col-xs-12 col-sm-12">
		<label>Search: <input ng-model="searchText"></label>
		<label ng-repeat="producer in producers | filter:searchText">

			<h2> {{producer.name}}: </h2>


			<div ng-init="getSubscribedTopics(producer)"> 

				<label ng-repeat="topic in producer.subscribedTopics">
					<button ng-click="unsubscribe(producer, topic, $index)" class="btn btn-success">Unsubscribe</button> {{topic.name}}
				</label>

			</div>
			<br>

			<div ng-init="getNotSubscribedTopics(producer)"> 

				<label ng-repeat="topic in producer.notSubscribedTopics">
					<button ng-click="subscribe(producer, topic, $index)" class="btn btn-danger"> &nbsp  Subscribe  &nbsp </button> {{topic.name}}
				</label>

			</div>

			<br>


		</label>
	</div>


</div>
</div>
