<div class="top-container">
	<div class = "uphead">
		<h1>PRODUCER</h1>
		<h2>{{username}}</h2>
	</div>
	<div class="buttonPanel">
		<a href="#/login"><button type = "button" class = "btn btn-info">Logout</button></a><br>
		<a href="#/subscriber"><button type = "button" class = "btn btn-info">Subscriber Panel</button></a><br>
		<a href="#/"><button type = "button" class = "btn btn-info">User Panel</button></a><br>
	</div>
</div>

<div class = "row ng-scope" ng-init="getTopics()">
	<h2>Your topics:</h2>
	<div id="topics-container" class = "col-xs-12 col-sm-12">
		<label ng-repeat="topic in topics">
			<button ng-click="deleteTopic($index)" class="btn btn-danger">remove</button>
			&nbsp&nbsp{{topic.name}}

		</label>
	</div>

		<div class = "col-xs-12 col-sm-12">
			<form name="topicsFrm" ng-submit="addTopic()" >
			<br>
			<button ng-disabled="topicsFrm.$invalid" class="btn btn-success">Add new topic</button>
		     <input if="topic-input" type="text" name="newTopic" ng-model="newTopic" required />
		     
		  </form>
			<br>
		</div>
</div>
</div>
