<h1>Producer view</h1>
<p>You're logged in as {{username}}!!</p>
<p><a href="#/login">Logout</a></a></p>
<div class = "btn-group" role = "group">
	<a href="#/"><button type = "button" class = "btn btn-info">Client View</button></a>
	<a href="#/subscriber"><button type = "button" class = "btn btn-info">Subscriber View</button></a>
</div>

<div class = "row ng-scope" ng-init="getTopics()">
	<div class = "col-xs-12 col-sm-12">
		<label ng-repeat="topic in topics">
			<button ng-click="deleteTopic($index)" class="btn btn-danger">remove</button>
			{{topic.name}}
		</label>
	</div>

		<div class = "col-xs-6 col-sm-12">
			<form name="topicsFrm" ng-submit="addTopic()" >
		     <input type="text" name="newTopic" ng-model="newTopic" required />
		     <button ng-disabled="topicsFrm.$invalid" class="btn btn-danger">Add new topic</button>
		  </form>
			<br>
		</div>
</div>
</div>
