<h1>User view</h1>
<p>You're logged in as {{username}}!!</p>
<p><a href="#/login">Logout</a></p>
<p><a href="#/producer">Producer View</a></p>
<p><a href="#/subscriber">Subscriber View</a></p>

<div class = "row ng-scope">
	<div class = "col-xs-12 col-sm-6">
		<div ng-if="notifications.length > 0">
			<button ng-click = "setAllAsRead()" class = "glyphicon glyphicon-remove"></button>
		</div>
		<div ng-if="notifications.length == 0">
			No new messages.
		</div>
		<label ng-repeat="message in notifications"> 
			<button ng-click="setAsRead(message)" class="glyphicon glyphicon-ok"></button>
			 {{message.message}}
		</label>
	</div>
</div>