<h1>User view</h1>
<p>You're logged in as {{username}}!!</p>
<p><a href="#/login">Logout</a></p>
<div class = "btn-group" role = "group">
	<a href="#/producer"><button type = "button" class = "btn btn-info">Producer View</button></a>
	<a href="#/subscriber"><button type = "button" class = "btn btn-info">Subscriber View</button></a>
</div>

<div class = "row ng-scope">
	<div class = "col-xs-12 col-sm-6">
		<div ng-if="notifications.length > 0">
			<button ng-click = "setAllAsRead()" class = "glyphicon glyphicon-remove"></button>
		</div>
		<div ng-if="notifications.length == 0">
			No new messages.
		</div>
		<label ng-repeat="message in notifications"> 
			<button ng-click="setAsRead(message)" class="glyphicon glyphicon-ok"></button>
			 {{message.message}}
		</label>
	</div>
</div>